# vim and general stuff
.*.swp
*.pyc
*.egg-info
.projectile
.netrwhist
.cache
tags
.DS_store

# stuff specific to ghar/config
.vim/bundle/**
.ipython/*
.matplotlib/*

# emacs stuff
~*
.\#*
.!*
\#*
*.log

# node stuff
node_modules

# java stuff
.idea
target
